.text_center{
    text-align: center;
}
.form_background{
    margin: 30px 35%;
    text-align: left;
    background: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 10px 20px;
    border-radius: 10px;
}
.form_flex{
    display: flex;
    flex-direction: column;
}
.heading_main{
    font-size: 30px;
    margin-bottom: 0px;
}
.input_name{
    background: #e8e8e8;
    border: none;
    padding: 10px;
    color: black;
}
label{
    margin-top: 10px;
    margin-bottom: 10px;
}
.terms_color{
    color: #0795c3;
}
.sign_btn{
    background: #0795c3;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}
textarea{
    margin-bottom: 15px;
}
@media (min-width: 768px) and (max-width: 991px){
    .form_background{
            margin: 30px 10%;
    }
}

@media (min-width: 280px) and (max-width: 767px){
    .form_background{
            margin: 30px 5%;
    }
}